@import './reset';
@import './variable';

body {
    position: relative;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(20rem, 96%, 80rem);

    border-radius: 1rem;
    overflow: hidden;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;

    padding: 2em 4em;
}

.bg-yellow {background-color: $Bright-orange;}
.bg-blue {background-color: $Dark-cyan;}
.bg-green {background-color: $Very-dark-cyan;}


.icons {
    width: 7rem;
    margin-bottom: 2em;
}

.titles {
    font-family: $font-header;
    font-size: 3.2rem;
    color: $Very-light-gray;
    margin-bottom: .8em;
}

.para-container {
    height: clamp(10rem, 100%, 30rem);
    margin-bottom: 6em;
}

.paragraph {
    max-width: 20rem;

    font-family: $font-body;
    font-size: 1.4rem;
    line-height: 1.6;
    color: $Transparent-white;
}

.btn-1 {color: hsl(31, 77%, 52%);}
.btn-2 {color: hsl(184, 100%, 22%);}
.btn-3 {color: hsl(179, 100%, 13%);}

.btns {
    // display: inline-block;
    max-width: 20rem;

    font-family: $font-body;
    text-align: center;
    font-size: 1.4rem;
    
    padding: .8em 2em;
    border-radius: 10rem;
    margin-bottom: 1em;
    transition: .3s linear;
    cursor: pointer;
}

.btns:hover {
    background-color: transparent;
    outline: .2rem solid $Very-light-gray;
    color: $Very-light-gray;
}


@media (max-width: 768px) {
    body {
        height: auto;
    }

    .container {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: clamp(20rem, 90%, 30rem);
        grid-template-columns: repeat(1, auto);

        margin: 3em auto;
    }
}